body {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.box {
    width: 400px;
    height: 400px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 10px solid black;
    color: black;
    margin: 4rem;
}

.opacity {
    background-color: rgb(233, 24, 24);
    opacity: 0.5;
}

.rgba-hsla {
    background-color: hsla(200, 80%, 50%, 0.3);
}